.dragonContainer {
  margin: 50px;
}

.dragonItem {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  align-items: center;
}

.dragonDetails {
  grid-column: 2 / span 3;
}

.reserveBtn {
  background-color: rgb(94, 94, 238);
  color: white;
  border-radius: 5px;
  width: 130px;
  height: 30px;
}

.reserveBtn:active {
  background-color: white;
  color: black;
}

.reservedIcon {
  display: none;
  color: white;
  background-color: rgb(6, 121, 115);
  border-radius: 5px;
}
