* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.app {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
}

.headerContainer {
  margin: 10px 100px;
}

.logo {
  float: left;
  padding-right: 0.5rem;
}

.headerNav {
  float: left;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.active-link {
  text-decoration: underline;
}

a:link {
  text-decoration: none;
}

.profile {
  display: flex;
  flex-direction: column;
}

a:link:active {
  text-decoration: underline;
}
